apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: idta-editor

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - backend-deployment.yaml
  - backend-service.yaml
  - frontend-deployment.yaml
  - frontend-service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: idta-submodel-editor
  app.kubernetes.io/managed-by: kustomize
